body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    border: 1px #eaeaea solid;
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.main-container {
    text-align: center;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,
.num,
.btn {
    padding: 5px;
    outline: 0;
    border-radius: 5px;
}

.header_soc a {
    display: inline-block;
}

.btn {
    border: 0;
    margin: 0;
    padding: 10px;
}

.form_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form_title {
    font-size: 20px;
}

.block:last-child {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

.form_title {
    margin-bottom: 10px;
}

.form_title:first-child {
    margin-top: 20px;
}

.main_title {
    text-align: center;
    font-size: 35px;
    padding: 10px;
    background: #4FD1C5 linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border-radius: 5px;
}

header a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(58, 250, 52) 0%, rgb(90, 238, 85) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(58, 250, 52, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgba(58, 250, 52, .64);
    box-shadow: 0 0 60px rgba(58, 250, 52, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(58, 250, 52);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: ring 1.5s infinite; */
}

.button:hover::after,
.button:focus::after {
    animation: none;
    display: none;
}

/* @keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 250px;
        height: 250px;
        opacity: 0;
    }
} */

.button19 {
    display: inline-block;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    user-select: none;
    padding: .7em 1.5em;
    border: 1px solid rgb(80, 32, 0);
    border-radius: 5px;
    outline: none;
    background: #4FD1C5 linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    box-shadow:
        0 3px 5px #4FD1C5,
        0 3px 15px rgba(0, 0, 0, .4),
        inset 0 1px rgba(255, 255, 255, .3),
        inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}

.button19:hover {
    background: #4FD1C5 linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 40%);
}

.button19:active {
    background: #4FD1C5 linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 40%);
    box-shadow:
        0 2px #4FD1C5,
        0 1px 6px rgba(0, 0, 0, .4),
        inset 0 1px rgba(255, 255, 255, .3),
        inset 0 0 3px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
.paragraph {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: red;
}






table.iksweb {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

table.iksweb,
table.iksweb td,
table.iksweb th {
    border: 1px solid #595959;
}

table.iksweb td,
table.iksweb th {
    padding: 5px;
    font-size: 15px;
}

table.iksweb th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
}


























@media only screen and (min-width: 600px) {

    .main_title {
        font-size: 45px;
    }

    .form_title {
        font-size: 30px;
    }

    #count,
    .num {
        max-width: 200px;
        margin: 0 auto;
        font-size: 25px;
    }

    .btn.button19 {
        font-size: 25px;
    }

    header {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    table.iksweb td,
    table.iksweb th {
        padding: 10px;
        font-size: 25px;
    }
}
